<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contacto.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/acerca">
        acerca
    </a>
    <a href="/">
        Inicio
    </a>
    <a href="/recursos">
        Recursos
    </a>
    </nav>


    <video autoplay muted loop playsinline id="bg-video">

    <source src="{{ url_for('static', filename='15370461_3840_2160_30fps.mp4') }}" type="video/mp4">

</video>
</body>
</html>