<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Clase Flask 1114 - POR JUAN DAVID MARTÍNEZ </title>
  </head>
  <body>

    <nav class="navbar">
        <a href="/acerca">
        acerca
    </a>
    <a href="/contacto">
        contacto
    </a>

    
    </nav>

    <h1>Bienvenidos a la clase del profe Henry by Kyrbot, soy Juan David y estoy cacharreando los codigos del profe</h1>

    <p>
      Si estas viendo esto, ya diste un primer paso en programacion: tu
      aplicacion esta corriendo y Flask pudo mostrar una pagina HTML.
    </p>

    <p>
      Hoy empezamos simple, pero con una idea poderosa: cada gran programa
      arranca con una primera linea de codigo. Este puede ser el comienzo de
      algo enorme.
    </p>

    <hr />

    <p>Primer objetivo cumplido: crear el entorno y levantar el servidor.</p>

    <p>
      Ahora este proyecto empieza a convertirse en un Mini Portal de Clase
      Flask. En la tarea 3 vas a crear nuevas paginas y conectarlas con rutas.
    </p>
  </body>
</html>
